.container-main{
    height: 78%;
    background-color:  rgb(223, 223, 223)
}
.container-main img{
    margin-top: 24px;
    width: 18%;
    border-radius: 100%;
    box-shadow: 2px 8px 12px 2px black;
    transition:  box-shadow 1s
}
.container-main img:hover{
    box-shadow: 2px 8px 12px 2px rgb(45, 255, 126);
}
.container-space{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.container-space strong{
    font-size: 22px;
    margin: 8px 0 8px 0
}
.container-space small{
    font-size: 18px;
    margin: 4px
}
.container-repository{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-resp{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 50%;
    height: 20%px;
    background-color: rgb(45, 255, 126);
    border-radius: 4px;
    margin: 8px;
    font-size:  18px ;
    transition: width 2s,margin-bottom 2s,border-radius 2s, height 2s ;
}

.container-resp:hover{
    width: 60%;
    height: 20%;
    font-size: 20px;
    margin-bottom:40px 

}
.container-resp:hover{
    border: 6px solid rgb(255, 133, 133)
}
.void{
    height: 100%;
    
}